@charset "UTF-8";
/* ••• Fonts ••• */
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Roboto_Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
/* ••• Fonts End ••• */
/* ••• Header ••• */
/* ••• Header End ••• */
.container {
  display: flex;
  position: relative;
  background-color: rgba(54, 54, 54, 0.2);
  width: 60%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@media screen and (max-width: 700px) {
  .container {
    flex-flow: column-reverse;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .container {
    width: 96%;
  }
}

nav.menu {
  display: flex;
  width: 80px;
  height: 100%;
}
@media screen and (max-width: 700px) {
  nav.menu {
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
  }
}
nav.menu ul {
  position: relative;
  list-style-type: none;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  top: 10px;
  left: 10px;
  border-radius: 8px;
  backdrop-filter: contrast(1.5);
  -webkit-backdrop-filter: contrast(1.5);
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: rgba(54, 54, 54, 0.2);
}
@media screen and (max-width: 700px) {
  nav.menu ul {
    flex-flow: row;
    justify-content: space-evenly;
    left: 0;
    top: 0;
  }
}
nav.menu ul li {
  display: flex;
  position: relative;
  width: 100%;
  height: 60px;
}
@media screen and (max-width: 700px) {
  nav.menu ul li {
    width: 60px;
    height: 100%;
  }
}
nav.menu ul li button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 300ms;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
nav.menu ul li button::before {
  content: "Timer";
  display: block;
  position: absolute;
  opacity: 0;
  transition: 300ms;
  transition-timing-function: cubic-bezier(0.36, 0.35, 0.1, 1.96);
  font-family: "Roboto";
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.33);
  backdrop-filter: contrast(1.5);
  -webkit-backdrop-filter: contrast(1.5);
  right: 60px;
  padding: 4px 12px;
  border-radius: 6px;
  pointer-events: none;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}
@media screen and (max-width: 700px) {
  nav.menu ul li button::before {
    right: unset;
    text-align: center;
    top: 51px;
  }
}
nav.menu ul li button::before:hover, nav.menu ul li button::before:active, nav.menu ul li button::before:focus {
  outline: 0;
  border: 0;
}
nav.menu ul li button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 300ms;
  border: none;
  outline: none;
}
nav.menu ul li button:hover::before {
  opacity: 1;
  right: 84px;
}
@media screen and (max-width: 700px) {
  nav.menu ul li button:hover::before {
    right: unset;
    text-align: center;
    top: 74px;
  }
}
nav.menu ul li button svg,
nav.menu ul li button path {
  width: 50%;
  fill: #fff;
}
nav.menu ul li:nth-child(2) button::before {
  content: "Current Time";
}
nav.menu ul li:nth-child(3) button::before {
  content: "Stopwatch";
}
nav.menu ul li:nth-child(4) button::before {
  content: "Special";
}

.working__area {
  width: calc(100% - 80px);
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .working__area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.working__area__container {
  width: calc(100% - 10px);
  height: calc(100% - 20px);
  box-shadow: none;
  background-color: rgba(54, 54, 54, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: contrast(1.5);
  -webkit-backdrop-filter: contrast(1.5);
  border-radius: 8px;
}
@media screen and (max-width: 700px) {
  .working__area__container {
    width: calc(100% - 20px);
    height: calc(100% - 10px);
  }
}
.working__area h1 {
  color: #fff;
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2rem;
}
.working__area .timer__container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid;
  justify-content: space-around;
}
.working__area .timer__container .timer__value {
  font-family: "Roboto";
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

/* ••• Footer ••• */
/* ••• Footer END ••• */
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-color: #191A19;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=styles.css.map */