/* ••• Fonts ••• */

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Open Sans Condensed";
    src: url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Open Sans Bold";
    src: url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Open Sans";
    src: url("../fonts/OpenSans.ttf") format("truetype");
}

/* ••• Fonts End ••• */