/* ••• Fonts ••• */

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto_Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

/* ••• Fonts End ••• */