@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'header';
@import 'container';
@import 'menu';
@import 'timer';
@import 'footer';

*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body,
html{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-color: $color-1;
    display: flex;
    align-items: center;
    justify-content: center;
}

